/*!
	ROUGHPLATE
	by Oskar Rough Mosumgaard @ oskarrough.com
*/

@import 'base/config';
@import 'base/mixins';

/**
 * Third party
 */
@import 'susy';
// @import 'CSS:../bower_components/magnific-popup/dist/magnific-popup';

/**
 * Utilities (abstract patterns to be reused in components)
 */
// @import 'utilities/align';
@import 'utilities/clearfix';
// @import 'utilities/negative-text';
// @import 'utilities/mediablock';
// @import 'utilities/equal-tabs';
// @import 'utilities/truncate';

/**
 * Base
 */
@import 'base/normalize-custom';
@import 'base/base';
@import 'base/icons';

/**
 * Components
 */
@import 'components/forms';
@import 'components/buttons';
@import 'components/rough-select';
@import 'components/logo';
@import 'components/rough-masonry';
@import 'components/nav';
@import 'components/tabs';
// @import 'components/animation';

/**
 * Layout (lays out the components to form a page layout)
 */
@import 'layout/layout';
