// Colors
$blue: hsl(217, 100%, 50%);
$red: hsl(0, 100%, 50%);

@mixin clearfix {
	&::before,
	&::after {
		content: " ";
		display: table;
	}

	&::after {
		clear: both;
	}
}

// Some function.
@function rem($target, $context: $global-font-size) {
	@return (strip-unit($target) / strip-unit($context)) * 1rem;
}

.CamelCase, .thisshouldnotbeallowed {
	@include clearfix;
	color: $red;
	margin: 0;
}

.CamelCase-child { color: blue; }

.CamelCase-child { color: blue; font-size: 2px; }
