//
// Demo
//

// These styles are purely for the demo and should NOT be used in a new project.

$blue: hsl(207,53,52);
$lightblue: hsl(145,7,70);
$sand: hsl(41,18,87);
$red: rgb(255, 41, 0);
$purple: rgb(184, 0, 255);


.SiteTitle {
	font-size: 4rem;
	letter-spacing: -3px;
	line-height: 0.8;
	margin-top: 1em;
	margin-bottom: 0;
	text-shadow: 3px 2px 0px darken($red, 25%);
	a {
		color: $red;
	}
}
.SiteSubTitle {
	color: $purple;
	text-shadow: 2px 1px 0px darken($purple, 20%);
}
.Intro {
	font-size: 1.2rem;
}
.l-Primary {
    margin-right: 1em;
    margin-left: 12em;
    max-width: 800px;
}
.l-Secondary {
    position: fixed;
    top: 1.1em;
    left: 1em;
    width: 10em;
}
.Section {
    margin-bottom: 6em;

    &:last-child {
    	margin-bottom: 18em; // enough for scroll nav
    }
}
.Title {
	width: 100%;
	background-color: #eee;
	// font-size: 2rem;
	
	// // to accomodate scrolling anchors
	// &:before {
	// 	content: ">";
	// 	display: inline;
	// 	color: $red;
	// }
}


// Primary navigation
.Nav {
	background-color: red;
	
	a {
		display: block;
		padding: 1px 0 1px 5px;
		text-transform: capitalize;
		background-color: #fff;
		color: blue;
		transition: color 200ms, margin 200ms;
	}
	a.is-active {
		margin-left: 5px;
	}
}
