//
// Dynamic grid using masonry/packery/isotope
// Fluid widths are hard and it is easier not to use Susy here.
//


//
// Gutter
//
$gutter: 0;
.gutter-sizer {
	width: $gutter;
}

//
// Column width
//

// Mixin to calculate the width
@mixin calcWidth($cols) {
	width: (100% - ($gutter*($cols - 1))) / $cols;
}
.grid-sizer {
	@media (min-width: em(500)) {
		@include calcWidth(2);
	}
	@media (min-width: em(720)) {
		@include calcWidth(4);
	}
}
.grid-sizer--double {
	@media (min-width: em(500)) {
		@include calcWidth(1);
	}
	@media (min-width: em(720)) {
		@include calcWidth(2);
	}
}

// Apply the grid-sizer to the item in the grid. Could be .Article
.Article {
	@extend .grid-sizer;
	float: left;
}
