//
// Navigation
//

.Nav {
	padding: 0;
	list-style: none;
	
	// horizontal
	li {
		display: inline-block;
	}
	
	// links
	a {
		display: block;
		padding: em(1) em(4);
		color: blue;
	}
	
	// active styling
	a:hover,
	.is-active {
		color: green;
	}
}
