//
// Royalslider
//

/*
	import these files via <link> because the css minifier doesn't support regular CSS imports

	@import url('../scripts/vendor/royalslider/royalslider.css');
	@import url('../scripts/vendor/royalslider/skins/default/rs-default.css');
*/

// Enable resizing in the royalslider script
.royalSlider {
	width: 100%;
}

// Stretched to fullscreen
.royalSlider--fullscreen {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: auto;
	width: auto;
	overflow: hidden;
}