 /**
 * Base
 */

:root {
	font-size: $root-font-size;
	line-height: $root-line-height;
	font-family: $root-font-family;
}
html {
	background-color: $background-color;
	color: $text-color;
	// Enable kerning and ligatures everywhere
	// to use open-type features, bower install normalize-opentype
	text-rendering: optimizeLegibility;
}

// Set a consistent margin between elements
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
dl,
dd,
pre,
fieldset,
input,
table,
address,
textarea,
figure {
	margin: 0 0 1rem;
}

// Headers
h1 {
	// font-size: rem(30);
}

h2 {
	// font-size: rem(20);
}

h3 {
	// font-size: rem(16);
}

h4 {
	// font-size: rem(14);
}

// Links
a,
a:visited {
	color: #00f;
}

// Responsive media
iframe,
img,
canvas,
video,
audio,
embed {
	max-width: 100%;
}

img {
	height: auto;
	vertical-align: bottom;
}
