// Typography
$root-font-size: 16px;
$root-line-height: 1.4;
$root-font-family: serif;

// Colors
$blue: #1a70ff;
$red: #f00;
$background-color: #fff !default;
$text-color: #111 !default;

// Layout
$space: 30px;

// Susy
// gutters are defined as a gutter/column ratio
$susy: (
	global-box-sizing: border-box,
	columns: 12,
	gutters: (1/4)
);

// Breakpoints
$layout-s: 414px;
$layout-sm: 660px;
$layout-m: 768px;
$layout-ml: 1024px;
$layout-l: 1440px;

// Good looking easings for animations
$easing:  cubic-bezier(0.165, 0.840, 0.400, 1.000);
$easing2: cubic-bezier(0.300, 0.000, 0.000, 1.300);
$easing3: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$easing4: cubic-bezier(0.250, 1.400, 0.180, 1.000);
