/**
 * Config
 */


/**
 * Compass
 */

$support-for-original-webkit-gradients: false;
$legacy-support-for-ie6: false; // IE6
$legacy-support-for-ie7: false; // IE7
$experimental-support-for-opera: false; // because they've switched to Webkit

// $browser-minimum-versions: (
//   'chrome':  null,
//   'firefox': null,
//   'ie':      null,
//   'safari':  null,
//   'opera':   null
// ) !default;


/**
 * Typography
 */

$base-font-size-unitless: 16;
$base-font-size: $base-font-size-unitless * 1px;
$base-line-height-unitless: 1.3;
$font-body: 'Helvetica Neue', Helvetica, sans-serif;
$font-header: $font-body;


/**
 * Colors
 */

$blue: #1a70ff;
$red: #f00;
$bg-color: #fff !default;
$text-color: #111 !default;
$header-color: #000 !default;
$link-color: $blue !default;
$link-color-hover: $red !default;
$link-color-active: $link-color-hover !default;


/**
 * Layout
 */

$space: 20px;

// Susy
$total-columns: 4;
$column-width: 4em;
$gutter-width: 1.25em;
$grid-padding: 1.25em;

// Media queries
// use like this: @include at-breakpoint($l-large) {}
$l-small: em(580);
$l-medium: em(720) lt-ie9;
$l-large: em(1000) lt-ie9;
