// Colors
$blue: hsl(217, 100%, 50%);
$red: hsl(0, 100%, 50%);
$white: hsl(0, 0%, 100%);
$gray: hsl(0, 0%, 40%);
$black: hsl(0, 0%, 7%);
$background-color: $white;
$text-color: $black;

// Typography (also see _fonts.scss)
$global-font-size: 16px;
$global-line-height: 1.4;
$global-font-family: -apple-system, BlinkMacSystemFont, \.SFNSDisplay-Regular, Roboto, sans-serif;
$space: 24px;
$border-radius: 2px;

// Susy configuration
$susy: (
	global-box-sizing: border-box,
	columns: 12,
	gutters: (1/4)
);

// Breakpoints
$layout-s: 414px;
$layout-sm: 660px;
$layout-m: 768px;
$layout-ml: 1024px;
$layout-l: 1440px;
$layout-xl: 1900px;
