/**
 * Config
 */

/**
 * Typography
 */
$base-font-size-unitless: 16;
$base-font-size: 16px;
$base-line-height-unitless: 1.3;
$font-body: sans-serif;
$font-header: $font-body;

/**
 * Colors
 */
$blue: #1a70ff;
$red: #f00;
$bg-color: #fff !default;
$text-color: #111 !default;
$header-color: $text-color !default;

/**
 * Layout
 */
$space: 20px;

// Susy
// gutters are defined in a ratio to the column width
$susy: (
	box-sizing: border-box,
	columns: 12,
	gutters: (1/4)
);

// Good looking easings for animation
$easing:  cubic-bezier(0.165, 0.840, 0.400, 1.000);
$easing2: cubic-bezier(0.300, 0.000, 0.000, 1.300);
$easing3: cubic-bezier(0.860, 0.000, 0.070, 1.000);

/**
 * Layout: Breakpoints
 */

$layout-s: 30em;
$layout-m: 50em;
$layout-l: 70em;
