/**
 * Config
 */

/**
 * Typography
 */
$base-font-size-unitless: 16;
$base-font-size: 16px;
$base-line-height-unitless: 1.3;
$font-body: sans-serif;
$font-header: $font-body;

/**
 * Colors
 */
$blue: #1a70ff;
$red: #f00;
$bg-color: #fff !default;
$text-color: #111 !default;
$header-color: $text-color !default;

/**
 * Layout
 */
$space: 20px;

// Susy
// gutters are defined in a ratio to the column width
$susy: (
	box-sizing: border-box,
	columns: 5,
	gutters: 20/200
);

// Good looking easings for animation
$easing:  cubic-bezier(0.165,  0.84,  0.4,   1); // fast, good looking
$easing2: cubic-bezier(0.145,  1.05,  0.4,   1.1); // + spring physics
$easing3: cubic-bezier(1,      0.01,  0.4,    1); // ?
$easing4: cubic-bezier(0.77,   0,     0.175,  1); // ??
$easing5: cubic-bezier(.3, 0, 0, 1.3); // nice for things that pop up (dropdown etc)

/**
 * Layout: Breakpoints
 */

$layout-s: 30em;
$layout-m: 50em;
$layout-l: 70em;
