/**
 * Config
 */


/**
 * Typography
 */
$base-font-size-unitless: 16;
$base-font-size: 16px;
$base-line-height-unitless: 1.3;
$font-body: sans-serif;
$font-header: $font-body;


/**
 * Colors
 */
$blue: #1a70ff;
$red: #f00;
$bg-color: #fff !default;
$text-color: #111 !default;
$header-color: $text-color !default;
$link-color: blue;
$color-hover: darkblue;
$color-active: red;

/**
 * Layout
 */
$space: 20px;

// Susy
// gutters are defined in a ratio to the column width
$susy: (
	box-sizing: border-box,
	container: 80%,
	columns: 5,
	gutters: 20/200
);

// Good looking easings for animation
$easing:  cubic-bezier(0.165,  0.84,  0.4,   1); // fast, good looking
$easing2: cubic-bezier(0.145,  1.05,  0.4,   1.1); // + spring physics
$easing3: cubic-bezier(1,      0.01,  0.4,    1); // ?
$easing4: cubic-bezier(0.770,  0,     0.175,  1); // ??

/**
 * Layout: Breakpoints
 */

$layout-s: 30em;
$layout-m: 50em;
$layout-l: 70em;
