/**
 * Fonts
 */

// Use this syntax for including web fonts cross browser

// @font-face {
// 	font-family: 'Name of the font';
// 	src: url('fonts/webfont.eot');
// 	src: url('fonts/webfont.eot?#iefix') format('embedded-opentype'),
// 		 url('fonts/webfont.woff') format('woff'),
// 		 url('fonts/webfont.ttf') format('truetype'),
// 		 url('fonts/webfont.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

@mixin type-global {
  font-size: $global-font-size;
	line-height: $global-line-height;
	font-family: $global-font-family;
}

@mixin type-h1 {
  font-size: rem($ml);
  @media (min-width: $layout-m) {
    font-size: rem($l);
  }
}
@mixin type-h2 {
  font-size: rem($m);
  @media (min-width: $layout-m) {
    font-size: rem($ml);
  }
}
@mixin type-h3 {
  font-size: rem($sm);
  @media (min-width: $layout-m) {
    font-size: rem($m);
  }
}
@mixin type-h4 {
  font-size: rem($s);
  @media (min-width: $layout-m) {
    font-size: rem($sm);
  }
}
