/**
 * Global styles (avoid anything but element selectors here)
 */

:root {
	@include type-global;
}

html {
	background-color: $background-color;
	color: $text-color;

	// Enable kerning and ligatures in all browsers.
	// - http://blog.typekit.com/2014/02/05/kerning-on-the-web/
	// - https://github.com/kennethormandy/normalize-opentype.css
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" 1;
	font-kerning: normal;

	@media (min-width: $layout-l) {
		font-size: $global-font-size + 2;
	}
}

body {
	// Remove default browser margin.
	margin: 0;
}

// Set a consistent margin between block elements.
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
ol,
ul,
blockquote,
pre,
fieldset,
table,
address,
figure {
	margin-top: 0;
	margin-bottom: rem($space);
}

// Headers
h1 {
	@include type-1;
}

h2 {
	@include type-2;
}

h3 {
	@include type-3;
}

h4 {
	@include type-4;
}

// Links
a,
a:visited {
	color: $blue;
}

// Responsive media
iframe,
img,
canvas,
video,
audio,
embed {
	max-width: 100%;
}

svg {
	max-height: 100%;
}

img {
	height: auto;
	vertical-align: bottom;
}
