/**
 * Icons
 */

// "icon" is the name of the folder where the images are and is used to prefix all Compass variables related to this sprite.

// space between each icon in the sprite
$icon-spacing: 30px;

// include dimensions for each sprite
$icon-sprite-dimensions: true;

// if an icon should be right aligned with 100%, include these to move the sprite to the right in the compiled image
//$icon-iconname-position: 100%;

// import the compass function that handles the sprites
@import "compass/utilities/sprites";

// locate the folders with the icons in
@import "icon/*.png";

// compass, make icons plizz
@include all-icon-sprites;

// assign the icon's width and height to the <i> element
// .icon-name { height: icons-sprite-height(name); width: icons-sprite-width(name);}

/*
	<i class="Icon icon-arrow"></i>
	<button><i class="Icon icon-arrow"></i> Button text</button>
*/

[class^="icon-"] {
	display: inline-block;
}
