/**
 * Icons
 */

$icon-size: 20px;

// targets all classes that include "icon-"
[class^="icon-"],
[class*=" icon-"] {

	// give the icons a dimension
	display: inline-block;
	font-size: $icon-size;
	height: 1em;
	width: 1em;

	// scale the background svg/png to fit
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;

	// inherit any colors
	fill: currentColor;
}

