.Button {
	padding: 0.3em 0.5em 0.25em;
	border: 1px solid gray;
	background: transparent;
	cursor: pointer;
	display: inline-block;
	font: inherit;
	line-height: normal;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	white-space: normal;
	color: black;

	// Button needs this directly on the element. Inheritance is not enough
	// @include negative-text;
}

/**
 * UI states
 */

.Button:hover,
.Button:focus {
	text-decoration: none;
}

.Button:active {}

.Button:disabled {
	cursor: default;
	opacity: 0.75;
}
