/**
 * Forms
 */

// Consistent alignment
label,
input,
textarea,
select {
    display: inline-block;
    vertical-align: middle;
}

// Expand to full-width
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
textarea {
	width: 100%;
	max-width: 100%;
	padding: 0.3em 0.5em 0.25em
}
