/**
 * Forms
 */

// Common styles for text inputs and buttons
#{$all-text-inputs} {
	padding: 0.3em 0.5em 0.25em;
}

// Text inputs
#{$all-text-inputs} {
	width: 100%;
	max-width: 100%;
	border: 1px solid $gray;
	border-radius: $border-radius;
}

// Focus and hover styles for text inputs
#{$all-text-inputs-focus},
#{$all-text-inputs-hover} {
	border: 1px solid $black;
}

// Active styles for text inputs
#{$all-text-inputs-active} {
	border: 1px solid #00f;
}

// Placeholder styles
// input:-moz-placeholder,
// input::-moz-placeholder,
// input:-ms-input-placeholder,
// input::-webkit-input-placeholder {
// 	color: red;
// }

// Form layout
// <form class="Form">
//   <div class="Form-input"></div>
//   <div class="Form-input"></div>
// </form>

// .Form {}
.Form-group {
	margin-bottom: 1rem;
}
