/**
 * Media block
 */

.MediaBlock {
	position: relative;
	zoom: 1;
}
.MediaBlock-media {
	float: left;
	margin-right: rem($space);
}
.MediaBlock-body {
	display: table-cell;
	width: 10000px;
}

// Modifier: Right aligned
.MediaBlock-media--right {
	float: right;
	margin-right: auto;
	margin-left: rem($space);
}
