/**
 * Navigation
 */

.Nav {
	padding: 0;
	list-style: none;

	a:hover {
		color: $color-hover;
	}

	a.is-active {
		color: $color-active;
		&:hover {
			color: $color-hover;
		}
	}
}

/**
 * Modifier: breadcrumbs
 */

.Nav--breadcrumbs {
	@include clearfix;

	li {
		float: left;
		&::after {
			content: ' →  ';
		}
		&:last-child::after {
			display: none;
		}
	}

	a {
		display: inline;
	}
}

/**
 * Pagination (use together with .Nav class)
 */

.Pagination {
	text-align: center;

	li {
		display: inline-block;
	}

	a {
		display: block;
		padding: 0.2em 0.4em; // bigger tap area
	}
}
