/**
 * Navigation
 */

.Nav {
	padding: 0;
	list-style: none;
	margin-bottom: 2rem;

	a:hover {
		// hover styles
	}

	.is-active {
		// active styles
		&:hover {
			// active hover styles
		}
	}
}
.Nav-item {
	margin-right: 1rem;
}
