/**
 * Custom rough selects
 */

// Label styles: style as needed
label {
	display: block;
}

// Container used for styling the custom select, the buttom class adds the bg gradient, corners, etc.
.RoughSelect {
	display: block;
	position: relative;

	// Custom arrow sits on top of the select
	// could be an image, SVG, icon font, etc. or the arrow could just baked into the bg image on the select
	&:after {
		background: none;
		color: #bbb;
		content: '\25BC';
		font-size: .7em;
		padding: 0;
		position: absolute;
		right: 1.2em;
		top: 0.8em;
		bottom: .3em;
		z-index: 2;
		// These hacks make the select behind the arrow clickable in some browsers
		pointer-events: none;
		background: url('#');
	}

	// Styles (not necessary to make it work)
	border: 1px solid #bbb;
	border-radius: .3em;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
	background: #f3f3f3; // Old browsers
	background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100%); // W3C

	// Hover style
	&:hover {
		border: 1px solid #888;
	}

	// This is the native select, we're making everything the text invisible so we can see the button styles in the wrapper
	select {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		margin: 0;
		background: none;
		border: 1px solid transparent;
		outline: none;
		// Remove select styling
		appearance: none;
		-webkit-appearance: none;
		// Magic font size number to prevent iOS text zoom
		font-size: 14px;
		// General select styles: change as needed
		font-family: helvetica, sans-serif;
		font-weight: bold;
		color: #444;
		padding: 0.3em 1.9em 0.4em 0.5em;
		line-height: 1.3;

		// Focus style - TODO: Fix in FF
		&:focus {
			outline: none;
			box-shadow: 0 0 1px 3px rgba(180, 222, 250, 1);
			background-color: transparent;
			color: #222;
			border: 1px solid #aaa;
		}

		// Removes the odd blue bg color behind the text in IE 10/11 and sets the text to match the focus style text
		&:focus::-ms-value {
			background: transparent;
			color: #222;
		}

		// Firefox focus has odd artifacts around the text, this kills that
		&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		}
	}

	option {
		font-weight: normal;
	}
}

// This hides native dropdown button arrow in IE 10/11+ so it will have the custom appearance, IE 9 and earlier get a native select
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.RoughSelect select::-ms-expand {
		display: none;
	}
}

// This selector targets Firefox only with the trick of making the select 110% but clipped by the container at 100% to hide the arrow. We have to do this because getting rid of select appearance isn't supported consistently
.RoughSelect,
x:-moz-any-link,
x:default {
	overflow: hidden;
	width: 100%;
}

.RoughSelect select,
x:-moz-any-link,
x:default {
	width: 110%;
	max-width: 110%;
	min-width: 110%;
	// A zero right padding is needed or the native arrow can show up. Downside is the text will run over the arrow
	padding: 0.6em 0 0.5em 0.8em;
	// Window is a Firefox way of hiding the arrow, sometimes works
	-moz-appearance: window;
	text-indent: 0.01px;
	text-overflow: '';
}
