/**
 * Responsive tabs
 */

// Tab container
.Tabs {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;

	// Tab toggle button for accordion/small version
	&:after {
		content: '☰';
		font-size: 20px;
		position: absolute;
		top: 0;
		right: 0.5em;
		z-index: 0.5em;
		pointer-events: none;
		color: #fff;
	}

	@media (min-width: $layout-s) {
		&:after {
			content: '';
		}
	}
}

.Tabs-nav {
	padding: 0;
	list-style: none;
	cursor: pointer;

	// hide all nav items once js is loaded
	.Tabs--loaded & li {
		display: none;
	}

	a {
		display: block; // expand anchors to full size
	}

	// active styles
	li.is-active {
		background: gray;
	}

	// show nav items below each other when visible
	&.is-open li {
		display: block;
	}

	// tabs version
	@media (min-width: $layout-s) {
		cursor: default;

		// show nav items next to eacher when visible
		.Tabs--loaded & li {
			display: inline-block;
		}
	}
}

.Tabs-item {
	// hide content once js is loaded
	.Tabs--loaded & { display: none; }
	&.is-active { display: block; }
}
