.Section.Section--heightControl
	p This section will always be resized to the height of the viewport, e.g. be full height.

nav.SectionBarNav
	a.SectionBarNav-item.is-active(href='#Berlin') Berlin
	a.SectionBarNav-item(href='#Barcelona') Barcelona
	a.SectionBarNav-item(href='#Antwerpen') Antwerpen
	a.SectionBarNav-item(href='#Rome') Rome

section.Section.Section--Berlin#Berlin
	figure.Section-keyvisual(style='background-image: url(images/goeuro/keyvisual.jpg)')
	h2.Section-title Berlin
section.Section.Section--Barcelona#Barcelona
	figure.Section-keyvisual(style='background-image: url(images/goeuro/keyvisual.jpg)')
	h2.Section-title Barcelona
section.Section.Section--Antwerpen#Antwerpen
	figure.Section-keyvisual(style='background-image: url(images/goeuro/keyvisual.jpg)')
	h2.Section-title Antwerpen
section.Section.Section--Rome#Rome
	figure.Section-keyvisual(style='background-image: url(images/goeuro/keyvisual.jpg)')
	h2.Section-title Rome
