$headerHeight: 68px;
// when wide enough to be in one line
$sectionBarNavBreak: 640px;


/**
 * Sections
 */
.Section {
	float: left;
	width: 100%;
	min-height: 1240px; // remove this in production

	// because the nav is double height here, we need some tricks for the scrolling to scroll to the right position
	@media (max-width: $sectionBarNavBreak) {
		padding-top: $headerHeight*2;
		&:first-of-type {
			margin-top: -$headerHeight*2;
		}
	}
}


/**
 * Bar nav (sticky)
 */
.SectionBarNav {
	// on top of sections
	position: relative;
	z-index: 1;
	background-color: #333;

	// equal width child elements
	@media (min-width: $sectionBarNavBreak) {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	// sticky version, class comes from jquery waypoints
	&.is-sticky {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		// -webkit-backface-visiblity: hidden; // can help on older androids
	}
}
.SectionBarNav-item {
	display: inline-block;
	font-size: 14px;
	min-height: $headerHeight;
	line-height: $headerHeight;
	width: 25%;
	text-align: center;
	text-decoration: none;

	// equal width child elements
	@media (min-width: $sectionBarNavBreak) {
		width: auto;
		display: table-cell;
		outline: none;
	}

	&:hover {
		background-color: lighten(#333, 10%);
	}
	&.is-active {
		background-color: red;
		color: white;
	}
}
