/**
 * Animations
 */

// Fade-in
@include keyframes(fadeIn) {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
// Fade-in and down
@include keyframes(fadeInDown) {
	0% {
		opacity: 0.75;
		transform: translateY(-5px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
// Fade-in and down
@include keyframes(fadeInUp) {
	0% {
		opacity: 0.75;
		transform: translateY(5px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


/**
 * Animation delay
 */
@mixin iterative-delay($selector: unquote(".item"), $count: 2, $delay: 0.07s) {
	@for $i from 1 through $count {
		#{$selector}:nth-child(#{$i}) {
			transition-delay: $delay * $i;
		}
	}
}
// @include iterative-delay('img', 10);

// img {
// 	transition: transform 250ms ease-in-out;
// 	transform: translateX(200%);

// 	// show them when they are loaded or if we dont have js
// 	.is-active &,
// 	.no-js & {
// 		transform: translateX(0);
// 	}
// }
