h1.Logo
	a(href='index.html').
		<!--<img src='images/logo.svg' alt='Project name' onerror="this.onerror=null; this.src='images/logo.png'" />-->
		<!--[if lte IE 8]><img src="images/logo.png" alt="Project name" /><![endif]-->
		<!--[if gt IE 8]><img src="images/logo.svg" alt="Project name" /><![endif]-->
		<!--[if !IE]> --><img src="images/logo.svg" alt="Project name" /><!-- <![endif]-->