article.Article.Article--teaser
	a(href='#')
		figure.Teaser-media
			img(src='http://dummyimage.com/500x300/c/f.png&text=hej', alt='')
		.Teaser-body
			time.Teaser-date Art
			h2.Teaser-title Thomas Campbell
			p.Teaser-desc Bow tie Cruiser &amp; Cuatro Suenos Pequenos
article.Article.Article--teaser
	a(href='#')
		figure.Teaser-media
			img(src='http://dummyimage.com/500x300/c/f.png&text=hej', alt='')
		.Teaser-body
			time.Teaser-date Music / Happenings
			h2.Teaser-title Terranova Painkiller
			p.Teaser-desc Adidas and Kompakt Records just released a new adidas x Terranova package
article.Article.Article--teaser
	a(href='#')
		figure.Teaser-media
			img(src='http://dummyimage.com/500x300/c/f.png&text=hej', alt='')
		.Teaser-body
			time.Teaser-date Product
			h2.Teaser-title BMW Concept Ninety
			p.Teaser-desc Spirit of the emotionally charged superbike
article.Article.Article--teaser.is-featured
	a(href='#')
		figure.Teaser-media
			img(src='http://dummyimage.com/500x300/c/f.png&text=hej', alt='')
		.Teaser-body
			time.Teaser-date Acrobatics
			h2.Teaser-title ARTO SAARI: A MODERN RETROSPECT
			p.Teaser-desc Earning Worldwide recognition
article.Article.Article--teaser
	a(href='#')
		figure.Teaser-media
			img(src='http://dummyimage.com/500x300/c/f.png&text=hej', alt='')
		.Teaser-body
			time.Teaser-date 23. maj 2013
			h2.Teaser-title BUBBLE BUTT
			p.Teaser-desc Tivolis Koncertsal
article.Article.Article--teaser
	a(href='#')
		.Teaser-body
			time.Teaser-date Happenings
			h2.Teaser-title BERLIN COMMUNITY RADIO at prince charles
			p.Teaser-desc Sunday, starting at 2 PM at Prince Charles
article.Article.Article--teaser
	a(href='#')
		figure.Teaser-media
			img(src='http://dummyimage.com/500x300/c/f.png&text=hej', alt='')
		.Teaser-body
			time.Teaser-date 23. maj 2013
			h2.Teaser-title BUBBLE BUTT
			p.Teaser-desc Tivolis Koncertsal
article.Article.Article--teaser
	a(href='#')
		.Teaser-body
			time.Teaser-date Happenings
			h2.Teaser-title BERLIN COMMUNITY RADIO at prince charles
			p.Teaser-desc Sunday, starting at 2 PM at Prince Charles
