
.Masonry-item
	article.Article.Article--teaser
		figure.Teaser-media
			a(href='#')
				img(src='http://dummyimage.com/500x300/c/f.png&text=hej', alt='')
		.Teaser-body
			p.Teaser-date Category
			h2.Teaser-title
				a(href='#') Thomas Campbell
			p.Teaser-desc Some body text right here, yo

.Masonry-item
	article.Article.Article--teaser
		figure.Teaser-media
			a(href='#')
				img(src='http://dummyimage.com/500x300/c/f.png&text=hej', alt='')
		.Teaser-body
			p.Teaser-date Category
			h2.Teaser-title
				a(href='#') Terranova Painkiller
			p.Teaser-desc Some body text right here, yopackage

.Masonry-item
	article.Article.Article--teaser
		figure.Teaser-media
			a(href='#')
				img(src='http://dummyimage.com/500x300/c/f.png&text=hej', alt='')
		.Teaser-body
			p.Teaser-date Category
			h2.Teaser-title
				a(href='#') Bmw Concept Ninety
			p.Teaser-desc Some body text right here, yo

.Masonry-item
	article.Article.Article--teaser.is-featured
		figure.Teaser-media
			a(href='#')
				img(src='http://dummyimage.com/500x300/c/f.png&text=hej', alt='')
		.Teaser-body
			p.Teaser-date Category
			h2.Teaser-title
				a(href='#') Arto Saari: A Modern Retrospect
			p.Teaser-desc Some body text right here, yo

.Masonry-item
	article.Article.Article--teaser
		figure.Teaser-media
			a(href='#')
				img(src='http://dummyimage.com/500x300/c/f.png&text=hej', alt='')
		.Teaser-body
			p.Teaser-date Category
			h2.Teaser-title
				a(href='#') Bubble Butt
			p.Teaser-desc Some body text right here, yo
