article.Article.Article--teaser
	a(href='#')
		figure.Teaser-media
			img(src='http://dummyimage.com/500x300/c/f.png&text=hej', alt='')
		.Teaser-body
			time.Teaser-date Category
			h2.Teaser-title Thomas Campbell
			p.Teaser-desc Some body text right here, yo
article.Article.Article--teaser
	a(href='#')
		figure.Teaser-media
			img(src='http://dummyimage.com/500x300/c/f.png&text=hej', alt='')
		.Teaser-body
			time.Teaser-date Category
			h2.Teaser-title Terranova Painkiller
			p.Teaser-desc Some body text right here, yopackage
article.Article.Article--teaser
	a(href='#')
		figure.Teaser-media
			img(src='http://dummyimage.com/500x300/c/f.png&text=hej', alt='')
		.Teaser-body
			time.Teaser-date Category
			h2.Teaser-title Bmw Concept Ninety
			p.Teaser-desc Some body text right here, yo
article.Article.Article--teaser.is-featured
	a(href='#')
		figure.Teaser-media
			img(src='http://dummyimage.com/500x300/c/f.png&text=hej', alt='')
		.Teaser-body
			time.Teaser-date Category
			h2.Teaser-title Arto Saari: A Modern Retrospect
			p.Teaser-desc Some body text right here, yo
article.Article.Article--teaser
	a(href='#')
		figure.Teaser-media
			img(src='http://dummyimage.com/500x300/c/f.png&text=hej', alt='')
		.Teaser-body
			time.Teaser-date Category
			h2.Teaser-title Bubble Butt
			p.Teaser-desc Some body text right here, yo
article.Article.Article--teaser
	a(href='#')
		.Teaser-body
			time.Teaser-date Category
			h2.Teaser-title Berlin Community Radio At Prince Charles
			p.Teaser-desc Some body text right here, yo
article.Article.Article--teaser
	a(href='#')
		figure.Teaser-media
			img(src='http://dummyimage.com/500x300/c/f.png&text=hej', alt='')
		.Teaser-body
			time.Teaser-date Category
			h2.Teaser-title Bubble Butt
			p.Teaser-desc Some body text right here, yo
article.Article.Article--teaser
	a(href='#')
		.Teaser-body
			time.Teaser-date Category
			h2.Teaser-title Berlin Community Radio At Prince Charles
			p.Teaser-desc Some body text right here, yo
