block vars
	- var active = 'Grid'
	- var bodyClass = ''

extends templates/layout

block outlet
	h1 Grid
	p Right now, you can't see the grid below because it isn't configured.
	p To use:
	ul
		li Setup the susy config in _config.scss
		li Write some styles for the .Grid and .Grid-col classes for testing

	.Grid
		.Grid-col
		.Grid-col
		.Grid-col
		.Grid-col
		.Grid-col
		.Grid-col
		.Grid-col
		.Grid-col
		.Grid-col
		.Grid-col
		.Grid-col
		.Grid-col
		.Grid-col
		.Grid-col
		.Grid-col
		.Grid-col
