block vars
	- var active = 'Grid'
	- var bodyClass = ''

extends views/layout/layout

block outlet
	.Grid
		.Grid-unit
		.Grid-unit
		.Grid-unit
		.Grid-unit
		.Grid-unit
		.Grid-unit
		.Grid-unit
		.Grid-unit
		.Grid-unit
		.Grid-unit
		.Grid-unit
		.Grid-unit
		.Grid-unit
		.Grid-unit
		.Grid-unit
		.Grid-unit
