block vars
	- var active = 'Grid'
	- var bodyClass = ''

extends templates/layout

block outlet
	h1 Grid
	p Right now, you can't see the grid below because it isn't configured.
	p To use:
	ul
		li Setup the susy config in _config.scss
		li Write some styles for the .Grid and .Grid-cell classes for testing

	h2 Example three column layout
	.Grid
		.Grid-cell
		.Grid-cell
		.Grid-cell
		.Grid-cell
		.Grid-cell
		.Grid-cell
		.Grid-cell
		.Grid-cell
		.Grid-cell

	h2 Example "gallery" style layout
	.Grid.Grid--gallery
		.Grid-cell
		.Grid-cell
		.Grid-cell
		.Grid-cell
		.Grid-cell
		.Grid-cell
		.Grid-cell
		.Grid-cell
		.Grid-cell
		.Grid-cell
		.Grid-cell
		.Grid-cell
		.Grid-cell
		.Grid-cell
		.Grid-cell
