block vars
	- var active = 'Index'
	- var bodyClass = ''

extends views/layout/layout

block outlet
	div.
		<aside class="l-Secondary">
			<ul class="Nav js-genenav">
				<li><a href="styleguide.html">&rarr; Styleguide</a></li>
			</ul>
		</aside>

		<article class="l-Primary">
			<h1 class="SiteTitle"><a href="/">THE ROUGH GUIDE TO THE WEB</a></h1>
			<h2 class="SiteSubTitle">by Oskar Rough</h2>

			<p class="Intro">Hello World. This is a ongoing reference for everyone, including myself.<br>It is a rough guide for people who want to learn more or dive into development for the web. Through trial and error and trial and error - and more hours than I would like to think about - I've come to know things about making websites that I hope could help others build better products in less time.</p>

			<p>This guide builds on the work and thoughts of the community and as such does not try to reinvent the wheel but rather work as a starter- and reference guide.</p>

			<h2>So what do we need</h2>
			<p>We need to know how to communicate with digital media, how to design it with form and function and how to develop everything into a well made digital product, hopefully with a purpose. And we need to have the right tools for the right job.</p>

			<p>Every single day new techniques, methods and best practices pop up all over the internet and it's important to keep a straight head, understand the technology and your own goals in order to choose where to invest your time. Choose only what you need.</p>
		</article>
