block vars
	- var active = 'Index'
	- var bodyClass = ''

extends templates/layout

block outlet
	h1 Rough Boilerplate
	p This is the index.jade and here are some of the components included.<br>They are safe to delete if you aren't going to use them.
	ul
		li: a(href="grid.html") Grid (for setting up Susy)
		li: a(href="custom-selects.html") Custom selects
		li: a(href="rough-masonry.html") Rough masonry
		li: a(href="tabs.html") Tabs
		li: a(href="lazyload.html") Lazyloading
