block vars
	- var active = 'Index'
	- var bodyClass = 'page-home'
	- var description = ''

extends views/layout/layout

block content
	div.
		<article class="l-Primary">
			<header class="l-Header">
				<h1 class="SiteTitle">
					<a href="/">THE ROUGH GUIDE TO THE WEB</a>
				</h1>
				<h2 class="SiteSubTitle">by Oskar Rough</h2>
			</header>
			<p class="Intro">Hello World. This is a ongoing reference for everyone, including myself. It's a rough guide for people who want to learn more or dive into development for the web. Through trial and error and trial and error and more hours than I want to think about, I've come to know things about making websites that I hope could help others. Help others build better products in less time.</p>

			<p>The guide builds on the work and thoughts of the community and as such does not try to reinvent the wheel but rather work as a starter- and reference guide to working with websites.</p>

			<p>## So what do we need?
			We need to know how to communicate with digital media, how to design it with form and function and how to develop everything into a well made digital product, hopefully with a purpose. And we need to have the right tools for the right job.</p>

			<p>Every single day new techniques, methods and best practices pop up all over the internet and it's important to keep a straight head, understand the technology and your own goals in order to choose where to invest your time. Choose only what you need.</p>


		</article>

		<aside class="l-Secondary">
			<h4>Components</h4>
			<ul class="Nav js-genenav">
				<li><a href="demo.html">&rarr; Demo / Kitchensink</a></li>
			</ul>
		</aside>