block vars
	- var active = 'Lazyload'
	- var bodyClass = ''

extends templates/layout

block outlet
	h1 Lazyload
	p To lazyload images, backgrounds and videos, we use <a href="https://github.com/aFarkas/lazysizes">lazysizes</a>. Be sure to read the documentation.

	h2 How to use
	ul
		li Make sure the script is included in layout.jade
		li Read the <a href="https://github.com/aFarkas/lazysizes">lazysizes documentation</a>
		li For images, change your markup to <code>img.lazyload(data-src="image.jpg", alt="")</code>
		li For backgrounds, change your markup to <code>div.lazyload(data-bg="image.jpg")</code>

	p Lazysizes also supports responsive images, but again, just read the documentation. If you need support for background-images, videos and what not see <a href="https://github.com/aFarkas/lazysizes/tree/gh-pages/plugins/unveilhooks">unveilhooks</a>.

	h2 A lazy loaded image:
	img.lazyload(data-src="images/test-image.jpg")
