block vars
	- var active = 'Masonry'
	- var bodyClass = ''

extends templates/layout.jade

block outlet
	h1 Masonry
	p This boilerplate contains default styles and scripts to get up and running with a stable and fluid masonry setup.
	h2 Getting started
	ul
		li Include rough-masonry.js
		li Include _rough-masonry.scss
		li Enable the script in app.js
		li Modify if you need

	h2 Example

	#Masonry.Masonry
		.Masonry-item
			p I'm a masonry item
		.Masonry-item
			p I'm a masonry item
		.Masonry-item
			p I'm a masonry item
		.Masonry-item.is-featured
			p I'm a featured .Masonry-item
		.Masonry-item
			p I'm a masonry item
		.Masonry-item
			p I'm a masonry item
		.Masonry-item
			p I'm a masonry item
		.Masonry-item.is-featured
			p I'm a featured .Masonry-item
		.Masonry-item
			p I'm a masonry item
		.Masonry-item
			p I'm a masonry item
