block vars
	- var active = 'Masonry'
	- var bodyClass = ''

extends templates/layout.jade

block outlet
	#Masonry.Masonry
		.Masonry-item
			p I'm a .Masonry-item
		.Masonry-item
			p I'm a .Masonry-item
		.Masonry-item
			p I'm a .Masonry-item
		.Masonry-item
			p I'm a .Masonry-item
		.Masonry-item
			p I'm a .Masonry-item
		.Masonry-item
			p I'm a .Masonry-item
		.Masonry-item
			p I'm a .Masonry-item
		.Masonry-item
			p I'm a .Masonry-item
		.Masonry-item
			p I'm a .Masonry-item
		.Masonry-item
			p I'm a .Masonry-item
