block vars
	- var active = 'Masonry'
	- var bodyClass = ''

extends templates/layout.jade

block outlet
	p: a(href="/") &larr; back
	h1 Masonry
	p Showcases how to use masonry. This boilerplate contains default styles and scripts to get up and running with a stable and fluid masonry setup.
	p To use:
	ul
		li Include rough-masonry.js
		li Include _rough-masonry.scss
		li Enable the script in app.js
		li Modify if you need

	#Masonry.Masonry
		.Masonry-item
			p I'm a masonry item
		.Masonry-item
			p I'm a masonry item
		.Masonry-item
			p I'm a masonry item
		.Masonry-item.is-featured
			p I'm a featured .Masonry-item
		.Masonry-item
			p I'm a masonry item
		.Masonry-item
			p I'm a masonry item
		.Masonry-item
			p I'm a masonry item
		.Masonry-item.is-featured
			p I'm a featured .Masonry-item
		.Masonry-item
			p I'm a masonry item
		.Masonry-item
			p I'm a masonry item
