block vars
	- var active = 'Tabs'
	- var bodyClass = ''

extends templates/layout

block outlet
	h1 responsive Tabs

	section.Tabs
		ul.Tabs-nav
			li: a(href="#tab1") Chocolate
			li: a(href="#tab2") Vanilla
			li: a(href="#tab3") Strawberry
			li: a(href="#tab4") Walnut
		.Tabs-content
			article#tab1.Tabs-item
				h1 OMG Chocolate!
			article#tab2.Tabs-item
				h1 OMG Vanilla!
			article#tab3.Tabs-item
				h1 OMG Strawberry!
			article#tab4.Tabs-item
				h1 OMG Walnut!