block vars
	- var active = 'Tabs'
	- var bodyClass = ''

extends templates/layout

block outlet
	h1 responsive Tabs

	section.Tabs
		ul.Tabs-nav
			li: a(href="#tab1") Chocolate
			li: a(href="#tab2") Vanilla
			li: a(href="#tab3") Strawberry
			li: a(href="#tab4") Walnut
		#tab1.Tabs-item
			h2 OMG Chocolate!
		#tab2.Tabs-item
			h2 OMG Vanilla!
		#tab3.Tabs-item
			h2 OMG Strawberry!
		#tab4.Tabs-item
			h2 OMG Walnut!
