block vars
	- var active = 'Tabs'
	- var bodyClass = ''

extends templates/layout

block outlet
	p: a(href="/") &larr; back
	h1 Responsive Tabs
	p These tabs will start out as an accordion-like style and continue to work as regular, visible tabs for wider screens.
	h2 How to use
	ul
		li Include <code>scripts/tabs.js</code>
		li Include <code>styles/components/_tabs.scss</code>
		li Enable it in <code>app.js</code>


	h2 Example
	hr
	section.Tabs
		ul.Tabs-nav
			li: a(href="#tab1") Chocolate
			li: a(href="#tab2") Vanilla
			li: a(href="#tab3") Strawberry
			li: a(href="#tab4") Walnut
		#tab1.Tabs-item
			h2 OMG Chocolate!
		#tab2.Tabs-item
			h2 OMG Vanilla!
		#tab3.Tabs-item
			h2 OMG Strawberry!
		#tab4.Tabs-item
			h2 OMG Walnut!
