// More sensible box-model: http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 1rem;
}


/**
 * Grid tests using Susy
 */
.Grid {
	@include clearfix;
	margin-bottom: 1rem;
	background-color: #ffc;
}
.Grid-cell {
	// example 3 column layout
	@include span(1 of 3);
	&:nth-child(3n+1) {
		@include last;
	}
	// example styles to see the cells
	margin-bottom: 1rem;
	outline: 1px solid red;
	height: 2rem;
}

// If all cells in a grid have the same width you can use this one instead.
.Grid--gallery .Grid-cell {
	@media (min-width: $layout-s) {
		@include gallery(1 of 5);
	}
}
