.scripts
	// build:js(app) scripts/main.js
	script(src='bower_components/jquery/jquery.js')
	script(src='bower_components/jquery/jquery-migrate.min.js')

	script(src='bower_components/eventie/eventie.js')
	script(src='bower_components/doc-ready/doc-ready.js')
	script(src='bower_components/eventEmitter/EventEmitter.js')
	script(src='bower_components/get-style-property/get-style-property.js')
	script(src='bower_components/get-size/get-size.js')
	script(src='bower_components/imagesloaded/imagesloaded.js')
	script(src='bower_components/jquery/jquery.js')
	script(src='bower_components/jquery-bridget/jquery.bridget.js')
	script(src='bower_components/matches-selector/matches-selector.js')
	script(src='bower_components/outlayer/item.js')
	script(src='bower_components/outlayer/outlayer.js')
	script(src='bower_components/masonry/masonry.js')
	script(src='bower_components/rough-navtoggle/navigation-toggle.js')
	script(src='bower_components/sticky-titles/sticky-title.js')
	script(src='bower_components/sticky-titles/sticky-titles.js')
	script(src='bower_components/jquery-waypoints/waypoints.js')
	//- script(src='bower_components/rough-navtoggle/rough-navtoggle.js')

	script(src='scripts/app.js')

	script(src='scripts/demo-nav.js')
	script(src='scripts/demo-navtoggle.js')
	script(src='scripts/demo-stickytitles.js')

	script(src='scripts/masonry.js')

	// endbuild
