.scripts
	// build:js(app) scripts/main.js
	script(src='bower_components/jquery/jquery.js')
	script(src='bower_components/jquery/jquery-migrate.min.js')

	script(src='scripts/vendor/masonry.pkgd.min.js')
	script(src='scripts/vendor/imagesloaded.pkgd.min.js')

	script(src='bower_components/sticky-titles/sticky-title.js')
	script(src='bower_components/sticky-titles/sticky-titles.js')

	script(src='bower_components/jquery-waypoints/waypoints.js')
	//- script(src='bower_components/rough-navtoggle/rough-navtoggle.js')

	script(src='scripts/app.js')

	script(src='scripts/demo-nav.js')
	script(src='scripts/demo-navtoggle.js')
	script(src='scripts/demo-stickytitles.js')

	script(src='scripts/masonry.js')

	// endbuild
