/**
 * Vertical align elements with an unknown height
 * works in IE9+
 */

.u-alignMiddle {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

// For reference here is the original way of doing it:

/*
.u-alignMiddle {
	display: table;
	table-layout: fixed;
	width: 100%;

	> .u-alignMiddle-child {
		display: table-cell;
	}
}
*/
