/**
 * Equal tabs
 * All child elements will share the width of the container equally (a bit like flexbox)
 */

.EqualTabs {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	display: table;
	table-layout: fixed;
}

.EqualTabs-item {
	display: inline-block;
}
