@mixin ratio($width, $height) {
	position: relative;

	&::after {
		content: '';
		display: block;
		height: 0;
		width: 100%;
		// 16:9 = 56.25% = calc(9 / 16 * 100%)
		padding-top: ($height / $width) * 100%;
	}
}

@mixin ratio-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
