/**
 * Responsive tabs
 */

// Tab container
.Tabs {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;

	// Tab toggle button for accordion/small version
	&:after {
		content: "☰";
		position: absolute;
		top: 0;
		right: .5em;
		z-index: .5em;
		pointer-events: none;
		color: white;
		font-size: 20px;
	}

	@media (min-width: $layout-s) {
		&:after {
			content: "";
		}
	}
}

.Tabs-nav {
	padding: 0;
	list-style: none;

	li {
		.Tabs--loaded & { display: none; } // hide all nav items once js is loaded
		&.is-active { background: gray; }
		&.is-active { display: block; }
	}
	a {
		display: block; // expand anchors to full size
	}

	// accordion/small version
	cursor: pointer;
	&.is-open li { display: block; } // show nav items below each other when visible

	// tabs version
	@media (min-width: $layout-s) {
		cursor: default;
		.Tabs--loaded & li { display: inline-block; } // show nav items next to eacher when visible
	}
}

.Tabs-item {
	.Tabs--loaded & { display: none; } // hide content once js is loaded
	&.is-active { display: block; }
}
