//
// Navigation
//

.Nav {
	padding: 0;
	list-style: none;
	
	// links
	a {
		display: block;
		color: blue;
	}
	
	// active styling
	a:hover,
	.is-active {
		color: red;
	}
}


//
// Horizontal nav
//
.Nav--horizontal {
	li {
		display: inline-block;
	}
}
