//
// Navigation
//

.Nav {
	padding: 0;
	list-style: none;

	// links
	a {
		display: block;
		color: $link-color;
	}

	// hover
	a:hover {
		color: $link-color-hover;
	}

	// active
	li.is-active > a,
	.is-active {
		color: $link-color-active;
	}
}


//
// Modifier: horizontal
//
.Nav--horizontal {
	li {
		display: inline-block;
	}
}
