/**
 * Royalslider
 */

// remember to import royalslider.css and skins/default/rs-default.css

// Enable resizing in the royalslider script
.royalSlider {
	width: 100%;
}

/**
 * Modifier: fullscreen
 */

// .royalSlider--fullscreen {
// 	position: absolute;
// 	left: 0;
// 	top: 0;
// 	right: 0;
// 	bottom: 0;
// 	height: auto;
// 	width: auto;
// 	overflow: hidden;
// }
