/**
 * Styleguide
 */

// These styles are purely for the demo and should NOT be used in a new project.
$blue: hsl(207,53,52);
$lightblue: hsl(145,7,70);
$sand: hsl(41,18,87);
$red: rgb(255, 41, 0);
$purple: rgb(184, 0, 255);


/**
 * Typography
 */

html,
h1,h2,h3,h4,h5,h6 {
	font-family: 'nimbus-sans', sans-serif;
}
pre,
code {
	font-family: 'source-code-pro', monospace;
}
.SiteTitle,
.SiteSubTitle {
	font-family: 'silkscreen', sans-serif;
}
.SiteTitle {
	font-size: 2.2rem;
	@media (min-width: 30em) {
		font-size: 4rem;
	}

	.wf-active & {
		letter-spacing: -3px;
		word-spacing: -10px;
		line-height: 0.8;
	}

	margin-top: 1em;
	margin-bottom: 0;
	text-shadow: 3px 2px 0px darken($red, 25%);
	a {
		color: $red;
		text-decoration: none;
	}
}
.SiteSubTitle {
	@media (max-width: 30em) {
		font-size: 18px;
		margin-left: 0;
		letter-spacing: 0;
	}

	margin-left: 1.5em;
	color: $purple;
	letter-spacing: 1px;
	text-shadow: 2px 1px 0px darken($purple, 20%);
	margin-bottom: em(26,22);
}
.Intro {
	font-size: 1.2rem;
	font-weight: 700;
}
.Title {
	font-size: $base-font-size;
	margin-bottom: em(13,$base-font-size);
	padding: em(2,$base-font-size) em(5,$base-font-size);
	font-weight: 400;
	letter-spacing: 1px;
	background-color: blue;
	@include background(linear-gradient(left, blue, white));
	color: #fff;
}


/**
 * Layout
 */

.l-Primary,
.l-Secondary {
	margin: 1em;
	max-width: 42em;
}
.l-Primary {
    @media (min-width: 36em) {
    	margin-left: 12em; // for the sidebar
    }
}
.l-Secondary {
    border: 1px solid #eee;
    @media (min-width: 36em) {
    	position: fixed;
    	top: 1.1em;
    	left: 1em;
    	width: 10em;
    	margin: 0;
    	border: 0;
    }
}
.Section {
    margin-bottom: 6em;

    &:last-child {
    	margin-bottom: 18em; // enough for scroll nav
    }
}


/**
 * Modify default nav toggles
 */
.Nav--togglable {
	transition: none;
}
.NavToggle {
	letter-spacing: 1px;
	padding: 0.3em 0.4em;
	text-transform: uppercase;
	user-select: none;
}
.NavToggle-text {
	font-size: rem(13);
	font-weight: bold;
	top: 0;
}
.NavToggle-box {
	display: none;
}


/**
 * Primary navigation
 */

.js-genenav {
	margin-bottom: 0;

	a {
		display: block;
		padding: 1px 0 1px 5px;
		text-transform: capitalize;
		//background-color: #fff;
		color: #000;
		transition: margin 200ms;
		text-decoration: none;
	}
	a:hover,
	a.is-active {
		background-color: blue;
		color: #fff;
	}
	a.is-active {
		//margin-right: 5px;
	}

	&.is-active {
		padding-top: 4px;
	}
}

