//
// Config
//

// Compass settings
$support-for-original-webkit-gradients: false;

// $legacy-support-for-ie: false; // IE6 & IE7
$legacy-support-for-ie6: false; // Don't waste bits on IE6
$legacy-support-for-ie7: false; // Don't waste bits on IE7
$experimental-support-for-opera: false; // Because they've switched to Webkit

// Typography
$base-font-size-unitless: 16;
$base-font-size: $base-font-size-unitless * 1px;
$base-line-height-unitless: 1.5;
//$base-line-height: $base-font-size * $base-line-height-unitless;

$font-header: Georgia, serif;
$font-body: Georgia, serif;

// Layout with Susy
// $total-columns: 10;
// $column-width: 4em;
// $gutter-width: 1.25em;
// $grid-padding: 10%;
// $container-style: magic; // magic, static or fluid

// // Breakpoints
// $breakpoint-small: 680;
// $breakpoint-medium: 800;
// $breakpoint-large: 960;
// $breakpoint-huge: 1600;

// //$container-width: em($breakpoint-large);
// $layout-small: em($breakpoint-small);
// $layout-medium: em($breakpoint-medium) lt-ie9;
// $layout-large: em($breakpoint-large) lt-ie9;
// $layout-huge: em($breakpoint-huge);
