//
// Primary navigation 
//

.Nav--primary {
	@include pie-clearfix;
	
	li {
		display: inline-block;
	}
	a {
		display: inline-block;
		padding: 0.5em 1em;
		text-decoration: none;
		
		&:hover,
		&.is-active {
			color: red;
		}
		&:hover {}
		&.is-active {}
	}
}
