//- local vars
block vars
	- var bodyClass = ''
	- var active = active || ''

doctype
html.no-js
	head
		block header
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge')
			title Rough
			meta(name='description', content='')
			meta(name='viewport', content='width=device-width, initial-scale=1')

			// build:css styles/main.css
			link(rel='stylesheet', href='styles/main.css')
			// endbuild

			script(src='scripts/vendor/modernizr-custom.js')

	body(class="#{bodyClass}")

		//-header#SiteHeader.SiteHeader
			include header
			include navigation

		main#SiteMain.SiteMain
			block outlet

		//-footer#SiteFooter.SiteFooter
			include footer

		.Scripts
			// build:js(app) scripts/main.js
			script(src='bower_components/jquery/dist/jquery.js')
			//- script(src='scripts/vendor/lodash.js')

			//- imagesLoaded
			script(src="bower_components/eventEmitter/EventEmitter.js")
			script(src="bower_components/eventie/eventie.js")
			script(src='bower_components/imagesloaded/imagesloaded.js')

			//- Masonry
			script(src="bower_components/get-style-property/get-style-property.js")
			script(src="bower_components/get-size/get-size.js")
			script(src="bower_components/outlayer/item.js")
			script(src="bower_components/doc-ready/doc-ready.js")
			script(src="bower_components/jquery-bridget/jquery.bridget.js")
			script(src="bower_components/matches-selector/matches-selector.js")
			script(src="bower_components/outlayer/outlayer.js")
			script(src='bower_components/masonry/masonry.js')

			//- script(src='bower_components/jquery-waypoints/waypoints.js')
			//- script(src='bower_components/jquery-waypoints/shortcuts/sticky-elements/waypoints-sticky.js')

			//- Our scripts
			//- script(src='scripts/component.js')
			script(src='scripts/tabs.js')
			//- script(src='scripts/rough-masonry.js')
			script(src='scripts/app.js')
			// endbuild

			//- Google Analytics: change UA-XXXXX-X to be your site's ID.
			//- script.
				(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
				function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
				e=o.createElement(i);r=o.getElementsByTagName(i)[0];
				e.src='https://www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
				ga('create','UA-XXXXX-X');ga('send','pageview');
