<nav class="Nav">
	<a href="forms.html" class="Nav-item pjax">Forms</a>
	<a href="grid.html" class="Nav-item pjax">Grids</a>
	<a href="icons.html" class="Nav-item pjax">Icons</a>
	<a href="lazyload.html" class="Nav-item pjax">Lazyload</a>
	<a href="masonry.html" class="Nav-item pjax">Masonry</a>
</nav>
