//- Adds an active class to the nav item when the active variable matches the nav item title.
mixin nav-item(url, title)
	li
		a(href=url, class=active == title ? 'is-active' : '')= title

//- ul.Nav
	+nav-item('index.html', 'Index')
	//- li: a(href='index.html', class=active == 'Index'?'is-active':'') Index

nav.Nav
	a.Nav-item.pjax(href="forms.html") Forms
	a.Nav-item.pjax(href="grid.html") Grids
	a.Nav-item.pjax(href="icons.html") Icons
	a.Nav-item.pjax(href="lazyload.html") Lazyload
	a.Nav-item.pjax(href="masonry.html") Masonry
	a.Nav-item.pjax(href="tabs.html") Tabs
